
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app" style="">
<div class="main-wrapper">
    <!-- Main Content -->
    <div class="main-content">
    </div>
</div>
</div>