################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QLHV/.vs/QLHV/v16/Server/sqlite3/db.lock
/QLHV/.vs/QLHV/v16/Server/sqlite3/storage.ide
/QLHV/.vs/QLHV/v16/Server/sqlite3/storage.ide-shm
/QLHV/.vs/QLHV/v16/Server/sqlite3/storage.ide-wal
