@model List<QLHV.Models.ViewModels.DanhSachCacHoi.DanhSachCD>
@{
    ViewBag.Title = "DanhSachCD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <div class="main-wrapper">
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Danh sách công đoàn</h1>
                    <div class="section-header-breadcrumb">
                        <div class="breadcrumb-item active"><a href="#" style="color:rgba(40, 163, 40, 0.8)">Danh sách các hội</a></div>
                        <div class="breadcrumb-item active"><a href="../DanhSachCD/DanhSachCD" style="color:rgba(40, 163, 40, 0.8)">Công đoàn</a></div>
                    </div>
                </div>
                <div class="section-body">
                    <p class="section-lead" style="font-size:18px; margin-left:1%">
                        Khối Phòng, Ban
                    </p>
                    <div class="row">
                        @foreach (var i in Model)
                        {
                            if (i.Khoi == 3)
                            {
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card card-danger">
                                        <div class="card-header">
                                            <a href="/DanhSachCD/ChiTietCD/@i.MaCD" style="color:rgb(248, 6, 26)"><h4 style="color:rgb(248, 6, 26)">@i.TenCD</h4></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <p class="section-lead" style="font-size:18px; margin-left:1%">
                        Khối Khoa, Viện, Trung tâm
                    </p>
                    <div class="row">
                        @foreach (var i in Model)
                        {
                            if (i.Khoi == 2)
                            {
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card card-success">
                                        <div class="card-header">
                                            <a href="/DanhSachCD/ChiTietCD/@i.MaCD" style="color:rgb(85, 191, 63)"><h4 style="color:rgb(85, 191, 63)">@i.TenCD</h4></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <p class="section-lead" style="font-size:18px; margin-left:1%">
                        Khối quản lý học viên
                    </p>
                    <div class="row">
                        @foreach (var i in Model)
                        {
                            if (i.Khoi == 1)
                            {
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <a href="/DanhSachCD/ChiTietCD/@i.MaCD"><h4 style="color:rgb(7, 34, 171)">@i.TenCD</h4></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>



